@charset "utf-8";
		div{
		margin:0px;
		padding:10px;
		}
		
	#home {
	height: 1000px;
	width: 960px;
	margin: 0 auto;
  }	
.h1Div {
    margin: 0 auto;
    font-size: 35px;
    width: 800px;
    display: block;
    height: 40px;
    background: #dfdfdf;
    text-align: center;
}
#main{
 background: #fafafa;
}
.cnblogs_Highlighter{
	background: #ffffff;
	font-size:14px;
}